<mat-toolbar color="primary">
  <span class="logo" routerLink="">
    <img src="assets/img/logo.png" class="angular-logo" width="55px" height="55px">
    Flat Scraper
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button>Notification</button>
  <button mat-button>Block ad</button>
  <button mat-button routerLink="login">Login</button>
  <button mat-button routerLink="register">Register</button>
  <!--<button Mat-button (click)="onLogout()">Logout</button>-->
</mat-toolbar>
