<div style="padding: 5px">
  <h1>Ads Lists</h1>
  <hr/>

  <div class="form-inline">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter panel
        </mat-panel-title>
        <mat-panel-description>
          Type your data
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput [(ngModel)]="form.city" placeholder="City">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="form.district" placeholder="District">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="form.priceFrom" ngModel placeholder="Price From" type="number">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="form.priceTo" placeholder="Price To" type="number">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="form.sizeFrom" #sizeFrom  maxlength="3" placeholder="Size From">
        <mat-hint align="end">{{sizeFrom.value.length}} / 3</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" maxlength="3" [(ngModel)]="form.sizeTo" #sizeTo placeholder="Size To">
        <mat-hint align="end">{{sizeTo.value.length}} / 3</mat-hint>
      </mat-form-field>
     
      <mat-checkbox [(ngModel)]="form.agency" [align]="end">Agency</mat-checkbox>
      
      <button mat-button color="primary" (click)="search()">Search</button>
    </mat-expansion-panel>

    <pre>{{form | json}}</pre>
  </div>


  <!--currentPage - {{currentPage}}
  resultsPerPage- {{resultsPerPage}}
  totalPages - {{totalPages}}
  totalResults - {{totalResults}}-->
  <hr/>

  <div class="row">
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
    <div class="col-md-12" *ngFor="let ad of ads">
      <ad-thumbnail [ad]="ad"></ad-thumbnail>
    </div>

    <mat-paginator [length]="totalResults"
                   [pageSize]="resultsPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>

</div>
