<div style="padding: 5px">
  <h1>Ads Lists</h1>
  <hr />
  currentPage - {{currentPage}}
  resultsPerPage- {{resultsPerPage}}
  totalPages - {{totalPages}}
  totalResults - {{totalResults}}
  <hr />

  <div class="row">
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
    <div class="col-md-12" *ngFor="let ad of ads">
      <ad-thumbnail [ad]="ad"></ad-thumbnail>
    </div>

    <mat-paginator [length]="totalResults"
                   [pageSize]="resultsPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>

</div>
