<!--<div class="register" fxLayoutAlign="space-around layout-padding">
  <mat-card fxLayout="column" flex-gt-sm="50" flex-gt-md="33" flex-gt="100">
    <mat-toolbar color="primary">
      Register panel
    </mat-toolbar>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput [(ngModel)]="model.email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="model.username" placeholder="Username" type="text" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="model.password" placeholder="Password" type="password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="register()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>-->


<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <mat-card>
        <mat-card-title fxLayoutAlign="center">Sign Up</mat-card-title>
        <mat-card-content>
          <div fxLayout="column">
            <mat-input-container fxFlex="100%">
              <input matInput required placeholder="Email Address" [(ngModel)]="model.email" autocorrect="off" autocapitalize="off" spellcheck="off">
            </mat-input-container>
            <mat-input-container fxFlex="100%">
              <input matInput required placeholder="Username" [(ngModel)]="model.username" autocorrect="off" autocapitalize="off" spellcheck="off">
            </mat-input-container>
            <mat-input-container fxFlex="100%">
              <input matInput required type="password" placeholder="Password" [(ngModel)]="model.password" autocorrect="off" autocapitalize="off" spellcheck="off">
            </mat-input-container>
            <button mat-raised-button color="primary" (click)="register()">Sign Up</button>
          </div>
          <!--<div fxLayout="row" fxLayoutAlign="center">
            <mat-spinner *ngIf="loading | async"></mat-spinner>
          </div>-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
