<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <mat-card>
        <mat-card-title fxLayoutAlign="center">Sign In</mat-card-title>
        <mat-card-content>
          <div fxLayout="column">
            <mat-input-container fxFlex="100%">
              <input matInput required placeholder="Email Address" [(ngModel)]="model.email" autocorrect="off" autocapitalize="off" spellcheck="off">
            </mat-input-container>
            <mat-input-container fxFlex="100%">
              <input matInput required type="password" placeholder="Password" [(ngModel)]="model.password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
            </mat-input-container>
            <button mat-raised-button color="primary" (click)="login()">Sign In</button>
            <a mat-button [routerLink]="['/register']">Sign Up with Email</a>
          </div>
          <!--<div fxLayout="row" fxLayoutAlign="center">
            <mat-spinner *ngIf="loading | async"></mat-spinner>
          </div>-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
