<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center" class="card-container">
    <div fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%">
      <mat-card>
        <mat-card-title fxLayoutAlign="center">Sign In</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div fxLayout="column">
              <mat-input-container fxFlex="100%">
                <input matInput required placeholder="Email Address" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="email">
                <mat-error *ngIf="form.controls['email'].errors?.email || form.controls['email'].errors?.required"> Please enter a valid email address </mat-error>
              </mat-input-container>
              <mat-input-container fxFlex="100%">
                <input matInput required type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="password">
                <mat-error *ngIf="form.controls['password'].errors?.required"> This field is required </mat-error>
              </mat-input-container>
              <button mat-raised-button [disabled]="form.invalid" type="submit" color="primary">Sign In</button>
              <a mat-button [routerLink]="['/register']">Sign Up with Email</a>
            </div>
            <!--<div fxLayout="row" fxLayoutAlign="center">
              <mat-spinner *ngIf="loading | async"></mat-spinner>
            </div>-->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
